click==7.1.2
Flask==1.1.2
alembic==1.5.6
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Mako==1.1.4
six==1.15.0
Werkzeug==1.0.1
SQLAlchemy==1.3.23
WTForms==2.3.3
email_validator==1.1.2
flask_mail==0.9.1
idna==3.1
blinker==1.4
dnspython==2.1.0
greenlet==1.0.0
python-dotenv==0.15.0
python-editor==1.0.4
PyJWT==2.0.1

Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
Flask-Login
Flask-Migrate
Flask-Script
wheel
